:root {
  --total-header-height: 15vh;
  --header-contents-height: 13vh;
  --header-border-width: calc(
    var(--total-header-height) - var(--header-contents-height)
  );
  --header-button-border-width: 1vh;
  --header-button-contents-size: 7vh;
  --header-button-height: 3vh;
  --header-button-padding: 1vh;
  --header-font-size: 5vh;
}

.__header_outline__ {
  background-color: var(--orange);
  padding: var(--header-border-width);
}

.__header_button_container__ {
  background-color: var(--grey-dark);
  height: var(--header-contents-height);
  display: flex;
  justify-content: left;
  align-items: center;
  display: flex;
  * {
    height: 100%;
  }
  overflow-x: scroll;
  overflow-y: hidden;
}

.__header_button__ {
  border: var(--header-button-border-width) solid var(--grey-mid);
  border-radius: var(--header-button-border-width);
  background-color: var(--dark-grey);
  display: flex;
  align-items: center;
  padding: 0 var(--header-button-padding) 0 var(--header-button-padding);
  width: fit-content;
  &:active {
    background-color: var(--grey-mid);
  }
}

.__header_text__ {
  color: var(--orange-light);
  font-family: "Teko";
  font-size: var(--header-font-size);
  margin-top: calc(var(--header-font-size) / 2);
  margin-bottom: 0vh;
  white-space: nowrap;
}

.__header_icon__ {
  height: var(--header-button-contents-size);
  &:nth-child(2) {
    margin-left: var(--header-button-padding);
  }
}
