:root {
  --header-inner-content-size: 50px;
  --header-inner-content-padding: calc(var(--header-inner-content-size) / 4);
  --header-content-border-radius: calc(var(--header-inner-content-size) / 10);
  --header-height: calc(var(--header-inner-content-size) * 1.3);
  --header-child-font-size: calc(var(--header-inner-content-size) / 1.5);
}

.__header_outline__ {
  background-color: var(--orange);
  padding: 10px;
}

.__header_button_container__ {
  background-color: var(--grey-dark);
  height: var(--header-height);
  display: flex;
  justify-content: left;
  display: flex;
  * {
    height: 100%;
  }
  overflow: auto;
}

.__header_button__ {
  width: fit-content;
  border: var(--header-content-border-radius) solid var(--grey-mid);
  border-radius: 10px;
  background-color: var(--dark-grey);
  display: flex;
  align-items: center;
  padding: var(--header-inner-content-padding);
  &:active {
    background-color: var(--grey-mid);
  }
}
/* 
 for some reason the Teko 
 google font has some weird spacing
 so I have to do that weird margin. 
 looks good in the final product tho 
*/
.__header_text__ {
  color: var(--orange-light);
  font-family: "Teko";
  font-size: 200%;
  white-space: nowrap;
}

.__header_icon__ {
  height: 100%;
  &:nth-child(2) {
    margin-left: var(--header-inner-content-padding);
  }
}
