@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

/*Imports*/
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");

/*Vars*/
:root {
  --dark: #305254;
  --light: #c7eaec;
  --grey-dark: #262c36;
  --grey-mid: #4c5159;
  --grey-light: #9298a1;
  --orange: #ff8657;
  --orange-light: #ffa785;
  --orange-dark: #d46a00;
  --text-size-0: 3vh;
  --text-size-1: 7vh;
  --ul-padding: 2vh;
}

/*Main Page Style*/
.__root__ {
  background-color: var(--grey-dark);
  margin: 0;
  padding: 0;
}
.__body__ {
  background-color: var(--grey-dark);
  margin: 0;
  padding: 0;
}

body {
  @extend .__body__;
}

/*text Classes*/
.__title__ {
  color: var(--orange);
  font-family: "Teko";
  font-size: var(--text-size-1);
}
h2 {
  @extend .__title__;
}
.__paragraph__ {
  color: var(--orange-light);
  font-family: "Teko";
  font-size: var(--text-size-0);
  background: none;
}
p {
  @extend .__paragraph__;
}
ul {
  @extend .__paragraph__;
}
.__bold__ {
  background-color: var(--grey-dark);
  color: var(--orange-dark);
  font-weight: bold;
}
b {
  @extend .__bold__;
}
.__page_root__ {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
ul {
  margin-left: var(--ul-padding);
  padding-left: var(--ul-padding);
}
